@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


body{
    background-color: white;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
    margin: 16px 0px;
    position: relative;
}

.home{
    padding: 10px
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
}

.heading img{
    width: 30px;
}
.library{
    height: 80vh;
    position: relative;
}

.logo img{
    height: 40px;
}

.footer{
    position: absolute;
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 10px;
    bottom: 0;
    padding: 10px;
    width: 100%;
    object-fit: contain;
}

.footer a{
    color: grey;
}

.header{
    display: flex;
    justify-content: space-between;
    background: #343434;
    height: 60px;
    align-items: center;
}

.header > *{
    padding: 20px;
}
.NomoPlaylist{
    padding: 16px;
    position: relative;
}

.card *{
    padding-top: 10px;
    
}

.play{
    position: absolute;
    bottom: 0px;
    top: 168px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
}

.cardContainer{
    margin: 30px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
   overflow-y: scroll;
   max-height: 70vh;
}

.card{
    width: 180px;
    height: 280px;
    padding: 10px;
    border-radius: 5px;
    background-color: #161616;

   
}

.card img{
    width: 100%;
    object-fit: contain;
}

.buttons> *{
margin: 0 12px;
}

.signupbtn{
    background-color: #343434;
    font-weight: 500;
    color: grey;
    opacity: 100;
    border: none;
    cursor: pointer;
}

.signupbtn:hover{
    font-size: 1.1 rem;
    color: white ;
    font-weight: bold;
}

.loginbtn{
    background-color: white;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
}


.loginbtn:hover{
    font-weight: bolder;
    font-size: 16px;
}

.playbar{
    position: absolute;
    bottom:0;
    background-color: rgb(88, 128, 88);
    width: 100%;
    padding: 12px;

}

.songButtons{
    display: flex;
    justify-content: center;
    gap:15px
}

.songList{
    padding: 0 45px;
}


.songList ul li{
    display: flex;
    list-style: decimal;
    gap:34px;
    cursor: pointer;
    padding: 12px 0px;
    border: 1px dotted rgb(41, 39, 39);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.playnow{
    display: flex;
}